 {% extends 'frontend/base.html' %} {% block title %}Modulation{% endblock %} {% block content %}

<section>
    <article>
        <div class="content">
            <h1>Modulation of Signal</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae laboriosam vitae distinctio placeat laudantium mollitia voluptates, assumenda ipsum iste molestias maiores. Cupiditate quis reprehenderit repudiandae totam accusamus iste,
                consequuntur quia quae voluptatem nesciunt esse commodi, beatae nemo blanditiis a! Voluptatum ipsam minus error dolorum excepturi. Iste cupiditate esse quo veniam natus autem voluptate, sequi ad alias quia? At, porro molestiae quia, unde
                optio numquam autem reiciendis, magnam minima aliquid ab natus rerum fuga. Magnam impedit odio commodi neque dolor quasi enim? Illo nulla voluptas voluptate corporis itaque praesentium at dolorum quia animi, dolore rem rerum illum velit,
                vitae perferendis vero et maxime modi veniam consequuntur non tenetur id consequatur error! Eum porro a, incidunt amet fuga eligendi non neque maxime tempora omnis! Sint quasi voluptate ipsam nemo possimus, corporis earum, consequuntur
                libero temporibus veritatis, nostrum ullam corrupti eum dignissimos dolorum vel molestias cupiditate qui explicabo amet fugiat maiores in sit. Quam, ullam! Exercitationem accusamus voluptates, dolores sunt velit eum esse, modi earum ratione
                neque officiis nemo hic, veniam iusto. Quia, provident maxime facere sequi veniam, dolores soluta ipsum perspiciatis nulla voluptate amet eaque vero quisquam. Impedit, ullam in? Impedit harum amet nemo labore esse optio cupiditate voluptatum
                voluptatem sapiente magnam rem illo autem expedita, cumque maxime saepe earum rerum facilis exercitationem quis totam et. Blanditiis esse dolore autem. Dolor expedita, excepturi, in animi odio, optio maxime eveniet officia doloribus minima
                quisquam? Vel, aut quos! Praesentium animi, tempore error veniam ratione modi, atque qui sapiente impedit maxime molestiae pariatur, laboriosam veritatis id assumenda cumque iusto sequi reiciendis nam voluptatem quos neque beatae recusandae
                distinctio. Vel et consectetur magnam cumque temporibus ab similique doloribus. Fugiat dicta animi quod impedit eveniet praesentium temporibus ab id rem molestiae nesciunt soluta atque maiores quibusdam fuga incidunt debitis tenetur, consectetur
                nihil, non, voluptatum corporis earum! Dolores.</p>
        </div>

    </article>
    <aside>
        <div class="list">
            <h3>List of content</h3>
            <div class="link-list">
                <ul>
                    <li><a href="#">list content 1</a></li>
                    <li><a href="#">list content 2</a></li>
                    <li><a href="#">list content 3</a></li>
                    <li><a href="#">list content 4</a></li>
                    <li><a href="#">list content 5</a></li>
                    <li><a href="#">list content 6</a></li>
                    <li><a href="#">list content 7</a></li>
                    <li><a href="#">list content 8</a></li>
                    <li><a href="#">list content 9</a></li>
                </ul>
            </div>
        </div>
    </aside>
</section>

{% endblock %}